<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>캄보디아학교세우기모임</title>
    <link rel="stylesheet" href="style.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
            rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/77e29b57dd.js"
            crossorigin="anonymous"
    ></script>
    <script src="../mainpage/index.js" defer></script>
</head>

<body>

<div id="page">

    <header>
        <div id="logo">
            <img src="../img/logo.png" alt="캄보디아학교세우기모임">
        </div>

        <div id="top_menu">
            <a href="/members/login">로그인</a>
            <a href="/members/new">회원가입</a>
        </div>

        <nav>
            <ul>
                <li class="nav_item"><a href="/introduce" class="on">소개</a></li>
                <li class="nav_item"><a href="/activity" class="">활동</a></li>
                <li class="nav_item"><a href="/donate" class="">후원</a></li>
                <li class="nav_item"><a href="/students" class="">결연 아이들</a></li>
                <li class="nav_item"><a href="/news" class="">소식</a></li>
            </ul>
        </nav>

    </header>

</div>
</body>
</html>