<html>
<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>sentencEmoji</title>
</head>
<body>

<div id="converter" class="form-group">
    <textarea v-model="textInput"
           @keyup.enter="convert"
           style="width:500px; height:300px; font-size: x-large" >
    </textarea>
    <button @click="convert">Convert</button>
    <textarea v-model="textOutput"
              style="width:500px; height:300px; font-size: x-large"
              disabled>
    </textarea>
</div>

<script src="index.js"></script>
</body>
</html>