<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>캄보디아학교세우기모임</title>
</head>
<body>

<header>
    <div id="logo">
        <img src="./img/logo.png" alt="캄보디아학교세우기모임">
    </div>

    <div id="top_menu">
        <a href="/members/login">로그인</a>
        <a href="/members/new">회원가입</a>
    </div>

    <nav>
        <ul>
            <li class="nav_item"><a href="/introduce" class="on">소개</a></li>
            <li class="nav_item"><a href="/activity" class="">활동</a></li>
            <li class="nav_item"><a href="/donate" class="">후원</a></li>
            <li class="nav_item"><a href="/students" class="">결연 아이들</a></li>
            <li class="nav_item"><a href="/news" class="">소식</a></li>
        </ul>
    </nav>

</header>

<div class="inner_wrap clearfix">
    <h2 class="title_comm">소개</h2>
    <div class="intro_img wp1 animated fadeInUp">
        <img src="http://camschool.kr/img/intro_pic.png" alt="소개">
    </div>
    <div class="intro_txt wp1 animated fadeInUp">
        <p class="green_title">캄보디아학교세우기모임</p>
        <p>
            2007년 겨울방학 고등학교 교사와 학생, 둘이서 캄보디아 쁘렉농
            마을에 교육봉사를 갔었습니다. 신발 없이 맨발로 다니고 지붕에서
            떨어지는 빗물을 받아 식수로 사용하고 상처가 생겨도 치료받지
            않고 다니는 쁘렉농 마을 아이들을 위해서 학교를 세워주고 싶은
            꿈을 가졌습니다. 그 후로 다음과 같은 활동을 하고 있습니다.
        </p>
        <div class="intro_sub_txt">
            <div class="intro_list clearfix">
                <span class="dot"></span>
                <div class="intro_list_txt">
                    캄보디아 학교 세우기
                </div>
            </div>
            <div class="intro_list clearfix">
                <span class="dot"></span>
                <div class="intro_list_txt">
                    캄보디아 어린이 · 청소년 결연 맺기
                </div>
            </div>
            <div class="intro_list clearfix">
                <span class="dot"></span>
                <div class="intro_list_txt">
                    캄보디아 교육 봉사
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>